<div
  class="content__app">

  <form>
    <img src="../../../assets/icon_color.svg" alt="this is the company's logo">
    <h1>Registro de usuario nuevo</h1>
    <div
      class="content__input">
      <label>
        Nombres
      </label>
      <input
        formControlName="name"
        type="text">
    </div>

    <div
    class="content__input">
      <label>
        Apellidos
      </label>
      <input
        formControlName="last_name"
        type="text">
    </div>

    <div
      class="content__input">
      <label>
        Nombre de usuario
      </label>
      <input
        formControlName="username"
        type="text">
    </div>

    <div
      class="content__input">
      <label>
        Correo Electrónico
      </label>
      <input
        formControlName="email"
        type="email">
    </div>

    <div
      class="content__input">
      <label>
        Contraseña
      </label>
      <input
        formControlName="password"
        type="password">
    </div>

    <div
      class="content__input">
      <label>
        Confirmar contraseña
      </label>
      <input
        formControlName="password_confirm"
        type="password">
    </div>

    <div
      class="content__button">
      <button
        class="button">
        Registrar usuario
      </button>
    </div>
  </form>

</div>
