
@media (min-width: 1000px) {
  .content__app--root {
    display: grid;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height:100%;
    grid-template-rows: 81px repeat(2,100%);
    grid-template-areas:
        "barnav barnav barnav"
        "list-nav router router";

    app-nav{
      grid-area: barnav;
    }

    app-list-nav{
      grid-area: list-nav;
    }

    router-outlet {
      grid-area: router;
      max-height: 100%;
      height: 100%;
    }

  }
}
