
@media (min-width: 1000px) {
  .content__app--root {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 87px;
    height: 100%;

    app-nav{
      grid-column: 1/15;
      grid-row: 1/2;
      height: 100%;
    }

    app-list-nav{
      grid-column: 1/2;
      grid-row: 2/3;
    }

    router-outlet {
      grid-column: 2/15;
      grid-row: 2/3;
      width: 100%;
      height: 100%;
    }

  }
}
