<div>
  <form (ngSubmit)="submit($event)" [formGroup]="formCategory">
    <div class="content__input">
      <label for="category">
        Ingrese una nueva categoría
      </label>
      <input
      type="text"
      id="category"
      formControlName="category">
    </div>

    <button
      type="submit">
      Ingresar
    </button>
    <button
      (click)="updateCategory()">
      Modificar
    </button>
  </form>

  <ul>
    <li
    *ngFor="let item of categories">
      <h3>
        {{item.category}}
      </h3>
      <button
        (click)="toggleUpdate(item)">
        Seleccionar
      </button>
      <button (click)="toggleDelete(item)">
        Eliminar
      </button>
    </li>
  </ul>
</div>

