<div class="subcontent__app">

  <button
   class="button__icon"
   (click)="sendModalState()">
  </button>

  <form
    (ngSubmit)="submit($event)"
    [formGroup]="formCategory">

    <div
      class="content__input">
      <label
        for="category">
        Categoría
      </label>
      <input
        type="text"
        id="category"
        formControlName="category"
        placeholder="Ingrese una nueva categoría">
    </div>

    <div

      class="content__button">
      <button
        type="submit"
        class="button">
        Ingresar
      </button>
      <button
        class="button"
        (click)="updateCategory()">
        Modificar
      </button>

    </div>

  </form>

  <ul>
    <li
      *ngFor="let item of categories"
      [class.radio__activate]="categoryId===item.id">
      <p>{{item.category}}</p>
      <button
        class="button__icon"
        (click)="toggleDelete(item)"
        [class.radio__activate--icon]="categoryId===item.id">
      </button>
      <input
        type="radio"
        (click)="toggleUpdate(item)"
        [value]="item.id">
    </li>
  </ul>

</div>




