<div
  class="content__app">
  <form [formGroup]="formPasswordReset">

    <div
      class="icon__company">
    </div>

    <h1>
      Recupere su contraseña
    </h1>
    <p
      class="text">
      Ingrese una nueva contraseña y luego inicie sesión
    </p>

    <div
      class="content__password
      content__input">
      <div
      class="content__input">
        <div
          class="content__input--key">
          <input
            placeholder="Ingrser la nueva contraseña del usuario"
            [class.is--valid]="password?.valid"
            [class.is--invalid]="password?.invalid && password?.touched"
            formControlName="password"
            [type]="inputType">
          <div
            class="icon_key">
            <input
              (click)="onChangePassword()"
              type="checkbox">
          </div>
        </div>
        <p
          *ngIf=" password?.touched && password?.hasError('required')"
          class="content__text--alert">
          Campo obligatorio.
        </p>
        <p
          *ngIf=" password?.touched && password?.hasError('invalid_password_number') && password?.value!==''"
          class="content__text--alert">
          • Debe contener por lo menos un número.
        </p>
        <p
          *ngIf=" password?.touched && password?.hasError('minlength')"
          class="content__text--alert">
          • Debe contener mas de ocho caracteres
        </p>
        <p
          *ngIf=" password?.touched && password?.hasError('invalid_password_expression') && password?.value!==''"
          class="content__text--alert">
          • Debe contener por lo menos un caracter como: !,*,/,-,+,@,#...
        </p>
      </div>

      <div
        class="content__input">
        <input
          placeholder="Confirmar contraseña del usuario"
          [class.is--valid]="passwordConfirm?.valid"
          [class.is--invalid]="passwordConfirm?.touched && formPasswordReset.hasError('match_password')"
          formControlName="password_confirm"
          type="password">
        <p
          *ngIf=" passwordConfirm?.touched && passwordConfirm?.hasError('required')"
          class="content__text--alert">
          •Campo obligatorio.
        </p>
        <div
          *ngIf=" passwordConfirm?.touched && formPasswordReset.errors">
          <p
            *ngIf="formPasswordReset.hasError('match_password')"
            class="content__text--alert">
          • Las contraseñas no coinciden, verifica e intentalo de nuevo
          </p>
        </div>

      </div>
    </div>

    <div
      class="content__button">
      <button
        class="button">
        Ingresar
      </button>
    </div>

  </form>

</div>
