.content__app{
  display: flex;
  justify-content: center;
  form{
    display: flex;
    height: 60vh;

    h1{
      font-family: 'Thalib';
      width: 100%;
      font-size: 1.8rem;
      line-height: 20px;
      letter-spacing: 1px;
      text-align: center;
      color: var(--color--red);
    }


    .icon__company{
      background-image: url('../../../assets/icon_color.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 115px;
      width: 148px;
      margin: 0 auto;
    }

    .content__input {

      .content__input--key {

        position: relative;

        .icon_key {
          background-image: url('../../../assets/icon_key.svg');
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          height: 36px;
          width: 31px;
          border: none;
          background-color: transparent;
          right: 12px;
          bottom: 0px;
          top: 18px;
          margin: auto;
          cursor: pointer;

          input{
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }
      }
    }

    .content__button{
      .button{
        width: 100%;
      }
    }
  }
}

