  /*This are the styles of de app-category*/
  .content__app--category {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    z-index: 3;

    &.activate__modal {
      display: flex;
      width: 70%;
      height: 80vh;
      z-index: 4;
      animation: content 0.8s ease-in-out forwards;
    }

    &.deactivate__modal {
      opacity: 0 !important;
      transform: scale(0, 0) !important;
      transition: all 1s ease-in-out;
      display: none;
    }

    button {
      top: none !important;
    }
  }

  /*This is the products style component */
  .content__app {
    max-width: 100%;
    max-height: 100%;
    animation: content 0.8s ease-in-out forwards;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;

    &.activate__modal {
      animation: subcontent 0.6s ease-in-out forwards;
    }

    @keyframes subcontent {
      0% {
        opacity: 100%;
      }

      100% {
        opacity: 30%;
      }
    }

    /*this is the for styles*/
    form{
      .content__row--last{
        display: flex;
        div{
          width: 50%;
        }
      }

      .text_total--value{
        margin: 15px 5px ;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--color--red);
        span{
          color: var(--color--gray);
        }
      }
    }

    /*This is the list order in this component*/
    ul {

      li {
        display: grid;
        grid-template-areas: "description description"
          "code inventory"
          "category value";
        gap: 0.5rem;

        div {
          display: flex;
          flex-direction: column;
        }

        .description {
          grid-area: description;
          h2 {
            font-size: 1.8rem;
            line-height: 2rem;
            font-weight: 600;
            text-align: left;
          }
        }

        .code {
          grid-area: code;
        }

        .category {
          grid-area: category;
        }

        .value {
          grid-area: value;
          align-items: center;

          p {
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
  }

  @keyframes content {
    0% {
      opacity: 0;
      transform: scale(0, 0)
    }

    100% {
      opacity: 1;
      transform: scale(1, 1)
    }
  }
