div {
  position: relative;
  display: flex;
  flex-direction: column;

  /*This are the styles of de app-category*/
  .content__app--category {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;

    &.activate__modal {
      display: flex;
      width: 70%;
      height: 70%;
      z-index: 2;
    }
  }

  /*This are the styles of de app-products*/
  .content__app--products {
    max-width: 100%;
    max-height: 100%;

    &.activate__modal {
      opacity: 40%;
      z-index: 1;
    }

    h2 {
      font-family: 'Quicksand', sans-serif;
      font-size: 1.5rem;
      text-align: center;
      margin: 0.5rem 0 0 0;
      font-weight: 400;

      button {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--color--red--secundary);
        background-color: var(--color--gray--background);
        border: none;
        cursor: pointer;
      }

      button:hover {
        color: var(--color--red);
        font-weight: 700;
      }

    }

    form {
      .content__uniValue {
        grid-area: value;

        div {
          flex-direction: row;
        }
      }

      .content__button {
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .content__input--find {
      max-width: 100%;
    }

    ul {
      li {
        display: grid;
        grid-template-areas: "description description"
          "code inventory"
          "category value";
        gap: 0.5rem;
      }

      div {
        flex-direction: column;
      }

      .description {
        grid-area: description;

        h2 {
          font-size: 1.8rem;
          line-height: 2rem;
          font-weight: 600;
          text-align: left;
        }
      }

      .code {
        grid-area: code;
      }

      .category {
        grid-area: category;
      }

      .value {
        grid-area: value;
        align-items: center;

        p {
          font-weight: 500;
          text-align: center;
        }
      }

      .inventory {
        grid-area: inventory;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;

        p {
          text-align: center;
          font-size: 3rem;
          padding-top: 0.5rem;
        }
      }
    }
  }
}

@media(min-width: 767px) {

  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "code code category category"
      "description description description description"
      "value value value stock"
      ". . button button";
    margin: 1rem;

    .content__productCategory {
      grid-area: category;
    }

    .content__code {
      grid-area: code;
    }

    .content__description {
      grid-area: description;
    }

    .content__uniValue {
      grid-area: value;

      div {
        flex-direction: row;
      }
    }

    .content__totalsStock {
      grid-area: stock;
    }

    .content__button{
      grid-area:button;
    }
  }
}

@media (min-width: 1024px) {

  div {
    .content__app--products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "tittle find"
        "form listItems"
        "form listItems";
      align-items: center;

      .tittle__text--category {
        grid-area: tittle;
        align-self: end;
      }

      form{
        max-width: 50vw;
      }

      .content__input--find {
        grid-area: find;
        justify-self: start;
        margin-left: 5rem;
        min-width: 80%;
      }

      .content__list {
        grid-area: listItems;
        max-width: 60vw;
        max-height: 70vh;
        align-content: flex-start;
        justify-content: center;
      }
    }

  }

}

@media (min-width: 1440px) {
  div {
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
  }
}


.content__notfound {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  box-sizing: border-box;

  p {
    font-family: 'Thalib';
    color: var(--color--red);
    font-size: 3rem;
    line-height: 3.2rem;
    text-align: center;
    width: 100%;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
  }

  img{
    height: 20rem;
    width: 20rem;
    align-content: flex-end;
    align-self: center;
  }
}
