<div class="content__app">
  <div
    class="content__app--products"
    [class.activate__modal]="modalState">

    <h2 class="tittle__text--category">
      Si la categoría no exite agreguela
      <button
        class="button__modal"
        (click)="toggleModal()"
        [disabled]="modalState">
        Aquí
      </button>
    </h2>

    <form
      (ngSubmit)="submit($event)"
      [formGroup]="formProduct">

      <div
        class="content__input
         content__productCategory">
        <label>
          Categoría
        </label>
        <select
          formControlName="category_id"
          [class.is--valid]="categoryId?.valid && categoryId?.touched"
          [class.is--invalid]="categoryId?.invalid && categoryId?.touched">
          <option
            class="firstChoice"
            value=""
            selected="true">
            Seleccione
          </option>
          <option
            *ngFor="let category of categories"
            value={{category.id}}>
            {{category.category | titlecase}}
          </option>
        </select>
        <p
        *ngIf=" categoryId?.touched && categoryId?.hasError('required')"
        class="content__text--alert">
        *Campo obligatorio.
        </p>
      </div>

      <div
       class="content__input
        content__code">
        <label>
         Código
        </label>
        <input
         type="text"
          formControlName="code"
          [class.is--valid]="code?.valid && code?.touched"
          [class.is--invalid]="code?.invalid && code?.touched"
          placeholder="Ingrese el código del producto">
        <p
          *ngIf=" code?.touched && code?.hasError('required')"
          class="content__text--alert">
          *Campo obligatorio.
        </p>
        <p
          *ngIf=" code?.touched && code?.hasError('minlength')"
          class="content__text--alert">
          *Debería agregar más de 3 caracteres.
        </p>
        <p
          *ngIf=" code?.touched && code?.hasError('maxlength')"
          class="content__text--alert">
          *Debería agregar menos de 7 caracteres.
        </p>
      </div>

      <div
        class="content__input
        content__description">
        <label>
          Descripción
        </label>
        <input
         type="text"
         formControlName="description"
         [class.is--valid]="description?.valid && description?.touched"
         [class.is--invalid]="description?.invalid && description?.touched"
         placeholder="Ingrese la descripción del producto">
        <p
        *ngIf=" description?.touched && description?.hasError('required')"
         class="content__text--alert">
         *Campo obligatorio.
        </p>
      </div>

      <div
        class="content__input
        inputCurrency
        content__uniValue">
        <label>
          Valor de venta
        </label>
        <div>
          <input
           type="number"
           [class.is--valid]="unitValue?.valid && unitValue?.touched"
           [class.is--invalid]="unitValue?.invalid && unitValue?.touched"
           formControlName="unit_value"
           placeholder="Ingrese el valor por unidad">
        </div>
        <p
        *ngIf=" unitValue?.touched && unitValue?.hasError('required')"
        class="content__text--alert">
        *Campo obligatorio.
        </p>
      </div>

      <div
        class="content__input
        inputStock
        content__totalsStock">
        <label>
         Inventario
        </label>
        <input
          type="number"
          formControlName="totals_stock"
          [class.is--valid]="totalStock?.valid && totalStock?.touched"
          [class.is--invalid]="totalStock?.invalid && totalStock?.touched">
          <p
          *ngIf=" totalStock?.touched && totalStock?.hasError('required')"
          class="content__text--alert">
          *Campo obligatorio.
          </p>
      </div>

      <div
        class="content__button">
          <button
            type="submit"
            class="button"
            [disabled]="!formProduct.valid"
            [class.is__invalid]="!formProduct.valid">
            Ingresar
          </button>

        <button
          (click)="updateProduct()"
          class="button"
          [disabled]="!formProduct.valid"
          [class.is__invalid]="!formProduct.valid">
          Modificar
        </button>
      </div>

    </form>

    <div class="content__input--find">
      <label for="">Buscar producto</label>
      <input
        type="search"
         [formControl]="valueFind"
        (input) ="onChangeText()"
        placeholder="Busque el producto aquí">
        <img src="../../../assets/lupa.svg" alt="this is the find icon">
    </div>

    <ul
      class="content__list"
      *ngIf="listFilter.length; else elseBlock">
      <li
        *ngFor="let item of products | filter:itemFind"
        [class.radio__activate]="productId===item.id">
        <input
          type="radio"
          name="choiceProduct"
          (click)="toggleUpdate(item)"
          [value]="item.code">

        <div class="description">
          <h2 class="contentent__description--text">
            {{item.description | titlecase}}
          </h2>
        </div>

        <div class="code">
          Código
          <p>
            {{item.code}}
          </p>
        </div>

        <div class="category">
          Categoría
          <p>
            {{item.category_id.category | titlecase}}
          </p>
        </div>

        <div class="value">
          Valor
          <p>
            $ {{item.unit_value | number}}
          </p>
        </div>

        <div class="inventory">
          Inventario
          <p>
            {{item.totals_stock | number}}
          </p>
        </div>

        <button
          class="button__icon"
          (click)="toggleDelete(item)"
          [class.radio__activate--icon]="productId===item.id">
        </button>
      </li>
    </ul>

    <ng-template #elseBlock>
      <div class="content__notfound">
        <img
         src="../../../assets/alert.svg"
         alt="this is the image alert">
        <p
        class="content__text--notfound">
          No se encuentra ningún producto
        </p>
      </div>
    </ng-template>

  </div>
</div>

<app-category
[categories]="categories"
class="content__app--category"
[class.activate__modal]="modalState"
(modalStateEvent)="reciveToggleModal($event)">
</app-category>


