  /*This are the styles of de app-category*/
  .content__app--category {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    z-index: 3;

    &.activate__modal {
      display: flex;
      width: 70%;
      height: 80vh;
      z-index: 4;
      animation: content 0.8s ease-in-out forwards;
    }

    &.deactivate__modal {
      opacity: 0 !important;
      transform: scale(0, 0) !important;
      transition: all 1s ease-in-out;
      display: none;
    }

    button {
      top: none !important;
    }
  }

  /*This is the products style component */
  .content__app {

    /*this is the for styles*/
    form {
      .content__row--last {
        display: flex;

        div {
          width: 50%;
        }
      }

      .text_total--value {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.6rem;
        line-height: 18px;
        font-weight: 500;
        color: var(--color--red);
        text-align: right;
        margin-right: 20px;

        span {
          color: var(--color--gray);
          font-size: 1.8rem;
          line-height:20px;
          font-weight: 400;

        }
      }
    }

  }

  @media (min-width: 1000px) {

    .content__app {
      display: grid;
      max-height: 100%;
      width: 100%;
      height: 100%;
      max-height: 100%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "form find"
                            "form list-products";

      form {
        grid-area: form;
        height: 400px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 80px);
        grid-template-areas: "category category code"
                              "description description description"
                              "value value value"
                              "lastRow lastRow lastRow"
                              "textValue textValue button";

        .content__category {
          grid-area: category;
        }

        .content__code {
          grid-area: code;
        }

        .content__description {
          grid-area: description;
        }

        .content__value {
          grid-area: value;
        }

        .content__row--last {
          grid-area: lastRow;
        }

        .text_total--value{
          grid-area:textValue ;
        }

        .content__button{
          grid-area: button;
        }
      }

      .content_list {
        grid-area: list-products;
      }

      .content__input--find {
        grid-area: find;
      }
    }

  }
