.content__app{
  background-image: url(../../../assets/Logo_login.svg);
  animation: content 0.6s ease-in-out;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: static;
}

@keyframes content {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

img{
  right:5px;
  bottom:2px;
}
