/*this is the content componwnt login */
.content__app{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /*This is the form, tittle and company logo content*/
  .content__login {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width:85%;
    width: 85%;
    background-color: var(--color--white);
    border-top: 0.3rem solid var(--color--red);
    border-bottom: 0.3rem solid var(--color--red);
    border-radius: 10px;
    animation: content 0.6s ease-in-out forwards;

    /*the image and tittle center */
    img,
    h1 {
      align-self: center;
      text-align: center;
    }

    h1 {
      font-family: 'Thalib';
      width: 100%;
      font-size: 2rem;
      opacity:0;
      color: var(--color--red);
      animation: tittle  1s ease-in-out 0.3s forwards;
    }

    img{
      height: 16rem;
      width: 100%;
      opacity: 0;
      transform: rotate(-360deg);
      animation: image  1s ease-in-out 0.3s forwards;
    }

    /*This is the initial image's animation*/
    @keyframes image{
      0%{
        opacity: 0;
        transform: rotate(-360deg);
      }
      100%{
        opacity:1;
        transform: rotate(0deg);
      }
    }

    /*This is the initial tittle's animation*/
    @keyframes tittle{
      0%{
        opacity: 0;
      }
      100%{
        opacity:1;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      box-shadow: none;

      .content__input {
        input {
          opacity:0;
          transform: translateX(-500px);
          animation: input 1s ease-in-out 0.3s forwards;
        }

        @keyframes input {
          0%{
            transform: translateX(-500px);
            opacity:0;
          }
          100%{
            transform: translateX(0px);
            opacity:1;
          }
        }
      }

      button {
        margin: 0 auto;
      }
    }
  }

  /*This is tne initial content's animation */
  @keyframes content{
    0%{
      opacity: 0;
      transform: scale(0,0)
    }
    100%{
      opacity: 1;
      transform: scale(1,1)
    }
  }

  /*This is the a label for recovery password*/
  .content__text--recovery {
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    color: var(--color--gray);
    align-self: center;
    transition:all 0.5s ease-in-out;
  }

  .content__text--recovery:hover{
    color: var(--color--red);
    font-weight: 600;
    transform:scale(1.05);
    transition:all 0.3s ease-in-out;
    max-width:60%;
  }

}

@media(min-width:600px) {
  .content__app{
    .content__login {
      max-width:60%;
      width: 60%;
    }
  }
}

@media(min-width:1000px) {
  .content__app{
    .content__login {
      max-width:40%;
      width: 40%;
    }
  }
}
