<div
  class="content__app">

  <form (ngSubmit)="submit($event)" [formGroup]="formBuysProduct">

    <div class="content__input">
      <h2>Producto</h2>
      <p>{{buyProduct.product_id.description}}</p>
    </div>

    <div class="content__input">
      <h2>Fecha de Compra</h2>
      <p>{{buyProduct.buys_date | date: 'dd-MM-yyyy'}}</p>
    </div>

    <div class="content__input">
      <label>Número de factura</label>
      <input type="text" formControlName="buys_bill">
    </div>

    <div class="content__input">
      <label>Cantidad</label>
      <input type="number" formControlName="buys_stock">
    </div>

    <div class="content__input">
      <label>Valor</label>
      <input type="number" formControlName="buys_unit_value">
    </div>

    <div
      class="content__button">
      <button
        class="button">
        Modificar
      </button>
    </div>
  </form>

  <div
    class="content__input--find">
    <label>
      Buscar producto
    </label>
    <input
      type="search"
      [formControl]="valueFind"
      (input) ="onChangeText()"
      placeholder="Busque el producto aquí">
    <img src="../../../assets/lupa.svg" alt="this is the find icon">
  </div>

  <ul
    class="content__list--products"
    *ngIf="listFilter.length; else elseBlock">
    <li
      [class.radio__activate]="buyProduct.id===item.id"
      *ngFor="let item of buyProducts | filter:itemFind">
      <input
      type="radio"
      value="{{item.id}}"
      (change)="onClickListProducts(item)"
      [formControl]="choiceProduct">
        <h2>
          {{item.product_id.description}}
        </h2>
        <div>
          Fecha:
          <p>
            {{item.buys_date}}
          </p>
        </div>
        <div>
          Factura:
          <p>
            {{item.buys_bill}}
          </p>
        </div>
        <div>
          Cantidad
          <p>
            {{item.buys_stock | number}}
          </p>
        </div>
        <div>
          Valor
          <p>
            {{item.buys_unit_value | currency}}
          </p>
        </div>
        <button
          [disabled]="buyProduct.id===item.id"
          class="button__icon"
          (click)="toggleDelete(item)"
          [class.radio__activate--icon]="buyProduct.id===item.id">
        </button>
    </li>
  </ul>

  <ng-template #elseBlock>

    <div
      class="content__elseBlock">
      <div
        class="content__notfound">
        <img
          src="../../../assets/alert.svg" alt="this is the image alert">
        <p
          class="text--notfound">
          No se encuentra ningún producto
        </p>
      </div>
    </div>
  </ng-template>

</div>
