img {
  bottom: 2px;
  right: 13px;
}

.text__body--first{
  border-left: 0.1rem solid var(--color--gray--background) !important;
}

.form__sell--product{
  margin-top: 2rem;
}

.content__button {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 1rem;

  .text_total--value{
    position: absolute;
    align-self: center;
    left:20%;
    margin-right: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color--red);
  }
}


.content__app {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/Logo_login.svg');
  transform: scale(0,0);
  animation: content 0.6s ease-in-out forwards;

  form {
    margin-top: 2rem;

    h2{
      font-family: 'Quicksand', sans-serif;
      font-size: 1.4rem;
      line-height: 1.6rem;
      letter-spacing: 5%;
      color: var(--color--red);
      margin: 0.5rem 0;
    }

    .content__input{
      select{
        option{
          color: var(--color--gray);
        }
      }
    }

    ul{
      -webkit-box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
      -moz-box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
      box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
    }

    @keyframes list {
      0%{
        opacity:0
      }
      100%{
        opacity: 1;
      }
    }
  }
}

@keyframes content {
  0%{
    opacity:0;
    transform: scale(0,0);
  }
  100%{
    opacity:1;
    transform: scale(1,1);
  }
}
