<div
  class="content__app"
  [class.activate__modal]="modalState">
  <form
    (ngSubmit)="submit($event)"
    [formGroup]="formBill">

    <div
      class="content__input">

      <label>
        Cliente
      </label>
      <div
        class="content__inputs--add">
          <select
          formControlName="customer"
          [class.is--valid]="inputCustomer?.valid && inputCustomer?.touched"
          [class.is--invalid]="inputCustomer?.invalid && inputCustomer?.touched"
          (change)="onChangeInputCustomer()">
          <option
            selected="true"
            class="firstChoice"
            value="">
            Seleccionar
          </option>
          <option
            *ngFor="let item of customers"
            value="{{item.id}}">
            {{item.document_type.types}} {{item.names}}
          </option>
        </select>
        <a
        routerLinkActive="activate__link"
        [routerLink]="['/customer']"></a>
      </div>
      <p
      *ngIf="inputCustomer?.touched && inputCustomer?.hasError('required')"
      class="content__text--alert">
        *Campo Obligatorio
      </p>
    </div>

    <div
      class="content__input"
      *ngIf="stateLenghtList; else elseBlockVehicle">
      <label>
        Vehículo
      </label>
      <div
       class="content__inputs--add">
        <select
          [class.is--valid]="inputVehicle?.valid && inputVehicle?.touched"
          [class.is--invalid]="inputVehicle?.invalid && inputVehicle?.touched"
          formControlName="vehicle">
          <option
            class="firstChoice"
            value=""
            selected="true">
            Seleccione
          </option>
          <option
            *ngFor="let item of vehicles"
            value="{{item.id}}">
            Placa: {{item.license_plate}} - Marca: {{item.trademark}} - {{item.model}}
          </option>
        </select>
        <a
        [routerLink]="['/vehicles/add_vehicle']"
        routerLinkActive="activate__link"></a>
      </div>
      <p
        *ngIf="inputVehicle?.touched && inputVehicle?.hasError('required')"
        class="content__text--alert">
        *Campo Obligatorio
      </p>
    </div>

    <div
      class="content__input">
      <label>
        Persona que presta el servicio
      </label>
      <div
        class="content__inputs--add">
        <select
          [class.is--valid]="inputEmployee?.valid && inputEmployee?.touched"
          [class.is--invalid]="inputEmployee?.invalid && inputEmployee?.touched"
          formControlName="employee">
          <option
            class="firstChoice"
            value=""
            selected="true">
            Seleccione
          </option>
          <option
            *ngFor="let item of employeesList"
            value="{{item.id}}">
            {{item.names}}
          </option>
        </select>
        <a
        [routerLink]="['/employees/add_employees']"
        routerLinkActive="activate__link"></a>
      </div>

      <p
        *ngIf="inputEmployee?.touched && inputEmployee?.hasError('required')"
        class="content__text--alert">
        *Campo Obligatorio
      </p>
    </div>

    <div
      class="content__input">
      <label>
        Medio de pago
      </label>
      <div
      class="content__inputs--add">
        <select
          [class.is--valid]="inputPaymentMedium?.valid && inputPaymentMedium?.touched"
          [class.is--invalid]="inputPaymentMedium?.invalid && inputPaymentMedium?.touched"
          formControlName="payment_medium">
          <option
            class="firstChoice"
            value=""
            selected="true">
            Seleccione
          </option>
          <option
            *ngFor="let item of paymentMedium"
            value="{{item.id}}">
            {{item.medium}}
          </option>
        </select>
        <a
        class="button__modal"
        (click)="toggleModal()">
        </a>
      </div>
      <p
        *ngIf="inputPaymentMedium?.touched && inputPaymentMedium?.hasError('required')"
        class="content__text--alert">
        *Campo Obligatorio
      </p>
    </div>

    <ul
      *ngIf="sellProductList.length>0"
      class="content__products--sellBuy">
      <li
        class="content--head">
        <div
          class="text-head">
          <p>
            Producto
          </p>
        </div>

        <div
          class="text-head">
          <p>Valor
            <span>
              (c/u)
            </span>
          </p>
        </div>

        <div
          class="text-head">
          <p>
            Cantidad
          </p>
        </div>
        <div
          class="text-head">
          <p>Total</p>
        </div>
      </li>

      <li
        class="content--body
        content__list--body"
        *ngFor="let item of sellProductList">

        <img
          *ngIf="item.discount_value!=0"
          src="../../../assets/star.svg"
          alt="this is the discount icon"
          class="band__discount">
        <div
          class="text--body">
          <p>
           {{item.product_id.description}}/
            <span>
              {{item.product_id.code}}
            </span>
          </p>
        </div>

        <div
          class="text--body">
          <p>
            {{item.product_id.unit_value | currency}}
          </p>
        </div>

        <div
          class="text--body">
          <p>
            {{item.sell_stock| number}}
          </p>
        </div>

        <div
          class="text--body">
          <p>
            {{item.total_sell_value |currency}}
          </p>
        </div>

        <button
          (click)="toggleDelete(item)">
        </button>

      </li>
    </ul>

    <div
      class="content__button">
      <p class="text_total--value">
         TOTAL: {{sell.total_value | currency}}
      </p>
      <button
        class="button"
        [disabled]="!formBill.valid"
        [class.is__invalid]="!formBill.valid">
        Registrar
      </button>
    </div>

  </form>

  <form
   [formGroup]="formSellProduct"
   class="form__sell--product">

    <h2>
      Agregue el producto a la lista
    </h2>

    <div
      class="content__input">
      <select
        type="text"
        formControlName="discount">
        <option
          selected="true"
          value=""
          class="firstChoice">
          Seleccione
        </option>
        <option value="0">
          No hay Descuento
        </option>
        <option
          *ngFor="let item of discounts"
          value="{{item.id}}">
          {{item.types}} ({{item.percentage * 100 | number}}%)
        </option>
      </select>
    </div>

    <div
      class="content__input">
      <input
      type="date"
      formControlName="date">
    </div>

    <ul
    class="content__products--sellBuy">

      <li
      class="content--head">
        <div
        class="text-head">
          <p>
            Producto
          </p>
        </div>

        <div
        class="text-head">
          <p>Valor
            <span>(c/u)</span>
          </p>
        </div>

        <div
          class="text-head">
          <p>Cantidad</p>
        </div>

        <div
          class="text-head">
          <p>Total</p>
        </div>
      </li>

      <li
          class="content--body">
          <div
            class="text--body">
            <p>
              {{product.description}}
              <span>
                {{product.code}}
              </span>
            </p>
          </div>
          <div
            class="text--body">
            <p>
              {{product.unit_value | currency}}
            </p>
          </div>
          <div
            class="text--body">
            <input
              type="number"
              (change)="onChangeInputCuantity()"
              formControlName="cuantity">
          </div>
          <div
            class="text--body">
            <p>
              {{product.unit_value * cuantity?.value |  currency}}
            </p>
          </div>

      </li>

    </ul>

    <div class="content__button">
      <button
        (click)="onClickAddProductList(product)"
        class="button"
        [disabled]="!formSellProduct.valid"
        [class.is__invalid]="!formSellProduct.valid">
        Agregar
      </button>
    </div>

  </form>

  <div
    class="content__input--find">
    <label>
      Buscar producto
    </label>
    <input
      type="search"
       [formControl]="valueFind"
      (input) ="onChangeText()"
      placeholder="Busque el producto aquí">
      <img src="../../../assets/lupa.svg" alt="this is the find icon">
  </div>

  <ul
    class="content__list--products"
    *ngIf="listFilter.length; else elseBlock">
    <li
      [class.radio__activate]="product.id==item.id"
      *ngFor="let item of products | filter:itemFind">
      <input
      type="radio"
      [formControl]="choiceProduct"
      value="{{item.id}}"
      (change)="onClickListProducts(item)">
      <h2>
        {{item.description}}
      </h2>
      <p
      class="text--code">
        {{item.code}}
      </p>

      <div
        class="content__text--number">
        <div
          class="text--number">
          Valor venta
          <p>
            {{item.unit_value | currency}}
          </p>
        </div>
        <div
          class="text--number">
          <p class="text--cuantity">
            {{item.totals_stock}}
          </p>
        </div>
      </div>
    </li>
  </ul>

  <ng-template #elseBlock>

    <div
      class="content__elseBlock">
      <div
        class="content__notfound">
        <img
          src="../../../assets/alert.svg" alt="this is the image alert">
        <p
          class="text--notfound">
          No se encuentra ningún producto
        </p>
      </div>
      <p
        class="text--redirect">Agregue el producto
        <a
          [routerLink]="['/products/add_product']">
          aquí
        </a>
      </p>
    </div>
  </ng-template>

  <ng-template #elseBlockVehicle>
    <div
      class="content__elseBlock">
      <div
        class="content__notfound">
        <img
          src="../../../assets/alert.svg" alt="this is the image alert">
        <p
          class="text--notfound">
          No se encuentra ningún vehículo
        </p>
      </div>
      <p
        class="text--redirect">Agregue el vehículo
        <a
          [routerLink]="['/products/add_product']">
          aquí
        </a>
      </p>
    </div>
  </ng-template>

</div>

<app-payment-medium
    [paymentMediums]="paymentMedium"
    (modalStateEvent)="reciveToggleModal($event)"
    class="content__app--payment"
    [class.activate__modal]="modalState"
    [class.deactivate__modal]="modalState==false">
</app-payment-medium>





