.content__app {

  .form__sell--listproduct{
    .content__button {
      display: flex;
      position: relative;
      justify-content: flex-end;
      margin-top: 1rem;

      .text_total--value{
        position: absolute;
        align-self: center;
        left:20%;
        margin-right: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--color--red);
      }
    }
  }

  form {
    margin-top: 2rem;

    h2{
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem;
      line-height: 17px;
      color: var(--color--red);
      margin: 0.5rem 0;
    }

    .content__input{
      select{
        option{
          color: var(--color--gray);
        }
      }

      a{
        margin: auto 0;
        height: 28px;
        width: 28px;
        background-image: url('../../../assets/cruz_green.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.content__app--payment{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  z-index: 3;


  &.activate__modal {
    display: flex;
    width: 70%;
    height: 80vh;
    z-index: 4;
    animation: content 0.8s ease-in-out forwards;
  }

  &.deactivate__modal {
    opacity: 0 !important;
    transform: scale(0, 0) !important;
    transition: all 1s ease-in-out;
    display: none;
  }
}
