<nav class="nav--show" [class.nav--show]="navState">

  <img src="../../../assets/Logo.svg" alt="This is the icon's company">

  <h1>
    B & H
    <span>
      Repuestos y Accesorios
    </span>
  </h1>

  <ul>
    <li>
      <a class="list__text--after after--activate" [class.after--activate]="listState"
        (click)="toggleActivateList()">
        Inventario
      </a>
      <ul class="list--activate" [class.list--activate]="listState">
        <li>
          <a routerLinkActive="activate__link" [routerLink]="['/products/buys_product']" (click)="toggleChooseList()">
            Comprar producto
          </a>
        </li>
        <li>
          <a routerLinkActive="activate__link" [routerLink]="['/products/add_product']" (click)="toggleChooseList()">
            Agregar producto
          </a>
        </li>
        <li>
          <a routerLinkActive="activate__link" [routerLink]="['/products/movements']" (click)="toggleChooseList()">
            Movimientos
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a class="text-activate" [routerLink]="['/sells']">
        Ventas
      </a>
    </li>

    <li>
      <a class="content__text--after" routerLinkActive="activate__link" [routerLink]="['/customer']">Clientes</a>
    </li>

    <li>
      <a class="content__text--after" routerLinkActive="activate" [routerLink]="['/users']">Usuarios</a>
    </li>

    <li>
      <a class="content__text--after" routerLinkActive="activate" [routerLink]="['/bill']">Contabilidad</a>
    </li>

    <li>
      <a class="content__text--after" routerLinkActive="activate" [routerLink]="['/bill']">Empleados</a>
    </li>
  </ul>

  <div>
      <p class="nav__name--text">
        Mateo Arias Correa
      </p>
      <p class="nav__profession--text">
        Empleado
      </p>
      <div class="nav__ball--icon">•</div>

      <button class="button_login" (click)="LogoutUser()">Cerrar Sesion</button>
  </div>

  <button class="button--active" [class.button--active]="navState" (click)="toggleShowNav()"></button>

</nav>
