nav {
  max-width: 100%;
  width: 100%;
  display: flex;
  background-color: var(--color--red);
  padding: 10px;
  position: relative;

  .logo {
    width: 95px;
    margin: auto 1px;
  }

  h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 72px;
    font-family: 'Thalib';
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 0.12em;
    color: white;
    margin-bottom: 0;

    span {
      display: none;
      font-family: 'Thalib';
    }
  }

  .nav__content--user {
    display: grid;
    justify-content: end;
    justify-items: start;
    position: relative;
    width: 245px;
    grid-template-areas: "names icons "
      "profession icons";

    .button__content--logout {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: transparent;
      border: none;
    }

    p {
      font-family: 'Quicksand';
      font-weight: 300;
      font-size: 1.15rem;
      color: #ffffff;
      margin: 0 5px 0 0;
    }

    .nav__user--name {
      align-self: end;
      grid-area: names;
    }

    .nav__user--position {
      align-self: start;
      grid-area: profession;
    }

    .nav__user--icon {
      grid-area: icons;
      justify-self: center;
      border-radius: 50%;
      border: 0.1rem solid var(--color--white);
      margin: 0;
      width: 40px;
      height: 40px;
      align-self: center;

      img {
        height: 4.4rem;
        width: 3.9rem;
      }
    }

    &.activate_list {
      background-color: var(--color--red--secundary);
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #ffffff;
    }
  }


  .nav__button {
    background-color: var(--color--red);
    background-image: url('../../../assets/menu_icon.svg');
    background-size: cover;
    background-position: center;
    align-self: center;
    border: none;
    width: 35px;
    height: 16px;
    animation: initial_button 0.5s ease-out forwards;
    cursor: pointer;

    &.button--active {
      animation: change__button 0.3s ease-out forwards;
      background-image: url('../../../assets/close_icon_white.svg');
    }

    @keyframes change__button {
      0% {
        opacity: 0;
        transform: scale(0, 0);
      }

      100% {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }

  @keyframes initial_button {
    0% {
      opacity: 0;
      transform: scale(0, 0);
    }

    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}

.list__background--shawdow {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0%;
  background-color: #000000;
  transition: all 0.5s ease-in-out;

  &.nav__show {
    opacity: 50%;
    transition: all 0.5s ease-in-out 0.2s;
    z-index: 6;
  }
}

.nav__list--user {
  display: none;
  position: absolute;
  z-index: 6;
  width: 165px;
  right: 5px;
  top: 85px;
  background-color: var(--color--red);
  border-radius: 5px;
  padding: 20px;
  box-shadow: -2px 6px 15px -5px rgb(99, 99, 99);

  a,
  button {
    width: 100%;
  }

  a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 13px;
    color: var(--color--text--nav);
    margin-bottom: 10px;
  }

  div {
    display: flex;
    .icon--logout {
      background-image: url('../../../assets/icon_logout.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 2.5rem;
      height: 1.5rem;
      margin: auto;
      opacity: 60%;

    }

    .button__logout {
      background: transparent;
      border: none;
      color: var(--color--text--nav);
      align-self: flex-start;
      width: 100%;
      text-align: left;
      padding-left: 5px;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 13px;
    }
  }

  a:hover,
  div:hover button{
    color: #ffffff;
  }

  div:hover i{
    opacity: 100%;
  }

  &.activate_list {
    display: flex;
    flex-direction: column;
  }

}


@media (min-width: 410px) {
  nav {
    h1 {
      text-align: center;
      width: 223px;
      margin: 5px auto;

      span {
        display: block;
      }
    }
  }
}

@media (min-width: 1000px) {

  nav {
    .nav__button {
      display: none;
    }
  }
  .list__links{
    transform: translateX(0px);
    position: static;
  }
}
