<nav>
    <ul>
      <li>
        <a routerLinkActive="activate" [routerLink]="['/products']">Inventario</a>
      </li>

      <li>
        <a routerLinkActive="activate" [routerLink]="['/sells']">Vender</a>
      </li>

      <li>
        <a routerLinkActive="activate" [routerLink]="['/customer']">Clientes</a>
      </li>

      <li>
        <a routerLinkActive="activate" [routerLink]="['/vehicle']">Vehiculos</a>
      </li>

      <li>
        <a routerLinkActive="activate" [routerLink]="['/users']">Usuarios</a>
      </li>

      <li>
        <a routerLinkActive="activate" [routerLink]="['/bill']">Facturas</a>
      </li>
    </ul>
</nav>
