<h2>Agregar nuevo producto</h2>
<div class="content__buysproducts">
  <form (ngSubmit)="submit($event)" [formGroup]="formBuysProduct">

    <div class="content__input"  id="contentChooseProduct">
      <label for="productId">Seleccione el producto</label>
      <select id="productId" formControlName="product_id">
        <option value="" selected="true">Seleccione</option>
        <option *ngFor="let product of products" value="{{product.id}}">
          {{product.description}}
        </option>
      </select>
    </div>

    <div class="content__input" id="contentBuysDate">
      <label for="buysDate">Fecha de compra</label>
      <input type="date" id="buysDate" formControlName="buys_date">
    </div>

    <div class="content__input" id="contentBuysBill">
      <label for="buysBill">Factura de compra</label>
      <input type="text" id="buysBill" formControlName="buys_bill">
    </div>

    <div class="content__input" id="contentBuysStock">
      <label for="buysStock">Cantidad de compra</label>
      <input type="number" id="buysStock"  formControlName="buys_stock" (change)="getBuysTotalValue()">
    </div>

    <div class="content__input" id="contentBuysValue">
      <label for="buysUnitValue">Valor compra (c/u)</label>
      <input type="number" id="buysUnitValue" formControlName="buys_unit_value" (change)="getBuysTotalValue()" >
    </div>


    <div class="content__input"  id="contentBuysTotalValue">
      <p style="font-size: 2rem;">Valor total</p>
      <p style="font-size: 2rem;">{{value | currency:'$ '}}</p>
    </div>

    <button id="toggleSubmit">
      Ingresar
    </button>

    <button id="toggleSubmitUpdate" (click)="updateBuyProducts()">
      Modificar
    </button>

  </form>

  <ul>
    <li *ngFor="let buysProduct of buysProducts">
      <h3>
        {{buysProduct.product_id.code}} - {{buysProduct.product_id.description}}
      </h3>
      <div id="buysDateText">
        Fecha de compra:
        <p>
          {{buysProduct.buys_date}}
        </p>
      </div>
      <div id="buysBillText">
        Factura de compra:
        <p>
          {{buysProduct.buys_bill}}
        </p>
      </div>
      <div id="buysStockText">
        Cantidad:
        <p>
          {{buysProduct.buys_stock}}
        </p>
      </div>
      <div id="unitValueText">
        Valor (c/u):
        <p>
          {{buysProduct.buys_unit_value | currency:'$ '}}
        </p>
      </div>
      <div id="totalStockText">
        Inventario
        <p>
          {{buysProduct.product_id.totals_stock}}
        </p>
      </div>
      <div id="totalValueText">
        Total:
        <p>
          {{buysProduct.buys_unit_value*buysProduct.buys_stock | currency:'$ '}}
        </p>
      </div>
        <button id="toogleUpdateText" (click)="toggleUpdates(buysProduct)">
          Modificar
        </button>
        <button id="toggeDeleteText" (click)="toggleDelete(buysProduct)">
          Eliminar
        </button>
    </li>
  </ul>

</div>
