.content__app {
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/Logo_login.svg');
  transform: scale(0, 0);
  animation: content 0.6s ease-in-out forwards;
  margin-bottom: 2rem;

  form {
    display: flex;
    margin: 2rem 1rem;
  }

  .form__buy--products{
    .content__total{
      align-self: flex-end;
      font-size: 1.5rem;
      line-height: 1.7rem;
      color: var(--color--red);
      font-weight: 400;
      margin: 10px 20px 0 0;
      span{
        font-family: 'Quicksand', sans-serif !important;
        font-weight: 600;
      }
    }
  }

}

@keyframes content {
  0%{
    opacity:0;
    transform: scale(0,0);
  }
  100%{
    opacity:1;
    transform: scale(1,1);
  }
}

