  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "chooseProduct chooseProduct"
      "buysDate buysBill"
      "buysValue buysStock"
      "buysTotalValue buysTotalValue"
      "toggleSubmit toggleSubmitUpdate";
    flex-direction: column;
    margin: 0.5rem 1rem;

    #contentChoiceProduct {
      grid-area: chooseProduct;
    }

    #contentBuysBill {
      grid-area: buysBill;
    }

    #contentBuysDate {
      grid-area: buysDate;
    }

    #contentBuysStock {
      grid-area: buysStock;
    }

    #contentBuysValue {
      grid-area: buysValue;
    }

    #contentBuysTotalValue {
      grid-area: buysTotalValue;
      align-items: start;

      P {
        vertical-align: middle;
      }

      p:first-child {
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 600;
        color: var(--color--gray);
      }

      p:last-child {
        font-size: 2.4rem;
        font-weight: 500;
        font-family: 'Quicksand', sans-serif;
        color: var(--color--red--secundary);
      }
    }

    #toggleSubmit {
      grid-area: toggleSubmit;
    }

    #toggleSubmitUpdate {
      grid-area: toggleSubmitUpdate;
    }
  }

  .radio__activate {
    border: 0.2rem solid var(--color--green-success);
  }

  .radio__activate--icon {
    background-image: url("../../../assets/icon_success.svg") !important;
  }


  @media (min-width: 1024px) {

    form {
      width: 90%;
      display: grid;
      align-items: center;
      margin: 2rem auto;
      grid-template-areas:
        "buysDate buysDate buysBill buysBill toggleSubmit"
        "chooseProduct chooseProduct chooseProduct chooseProduct toggleSubmitUpdate"
        "buysValue buysStock buysTotalValue buysTotalValue .";
    }
  }
