:root {
  --color--red: #d82b36;
  --color--red--secundary: #F47A82;
  --color--white: #ffffff;
  --color--black: #481b1b;
  --color--gray--background: #EBEBEB;
  --color--text--nav: #C9C9C9;
  --color--gray--background--list: #F7EDED;
  --color--gray: #636363;
  --rojo-color-alert: #ff7c7c;
  --color--green-success: #5fe39f;
  --amarillo-color-information: #faec5c;
}

/*the tittle font insertion*/
@font-face {
  font-family: 'Thalib';
  src: url('./assets/fonts/Thalib\ Textured.ttf');
}

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--color--gray--background);
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

main {
  max-height: 100%;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}

/*this is the apps' containers' styles*/
.content__app {
  max-width: 100%;
  max-height: 100vh;
}

/*this is the text align  of input first child  of type="selected"*/
/*this is the text align  of input first child  of type="date"*/
input[type="date"],
.firstChoice {
  text-align: center;
}

/*this is the button in the part top-right in the boxes content*/
.button__icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 1rem 0;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('./assets/close_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/*this is the structure */
.inputCurrency {
  div {
    display: flex;
    align-items: center;

    input {
      font-size: 1.8rem !important;
      font-weight: 500 !important;
      letter-spacing: 0.1rem;
      text-align: center !important;
    }
  }

  div::before {
    content: "$";
    position: relative;
    display: inline;
    margin: auto;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
}


.inputStock {
  input {
    text-align: center !important;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
  }
}
form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: var(--color--white);
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 1rem;
  -webkit-box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
  -moz-box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
  box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);


  .content__input {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.25rem;
    margin: 0.5rem;

    .content__text--alert {
      max-width: 100%;
      color: var(--rojo-color-alert);
      font-weight: 500;
      margin-top: 0.5rem;
      animation: text--alert 0.3s ease-in-out forwards;
    }

    @keyframes text--alert {
      0%{
        opacity:0;
        transform: translateX(20px);
      }
      100%{
        opacity:1;
        transform: translateX(0px);
      }
    }

    label {
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.05em;
      color: var(--color--gray);
      margin-bottom: 0.5rem;
    }

    input,
    select {
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: var(--color--gray);
      height: 3.6rem;
      padding: 1rem 1rem;
      border-radius: 5px;
      border: 0.1rem solid var(--color--gray);
      width: 100%;

      option {
        font-weight: 500;
        font-style: normal;
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }
  }
}

.content__input--find {
  width: 60%;
  margin: 1rem;
  background: transparent;

  label {
    color: var(--color--red);
    font-weight: 700;
  }

  input {
    height: 3.6rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    border: 0.1rem solid var(--color--gray);
    position: relative;
  }

  img {
    position: absolute;
    width: 4rem;
    height: 3rem;
    right: 2px;
    top: 25px;
    background-color: var(--color--white);
    border-radius: 50%;
  }
}

.button {
  width: 7.3rem;
  height: 3.5rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--color--red);
  color: var(--color--white);
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &.is__invalid{
    opacity: 80%;
    background-color: var(--color--gray);
    color: var(--color--white);
    border: none;
    transition: all 0.3s ease-in-out;
  }
}

.button:hover {
  background-color: #ffffff;
  color: var(--color--red);
  border: var(--color--red) solid 0.1rem;
  transition: all 0.3s ease-in-out;

  &.is__invalid{
    opacity: 80%;
    background-color: var(--color--gray);
    color: var(--color--white);
    border: none;
    transition: all 0.3s ease-in-out;
  }
}

/*This are list styles*/
.content__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0.5rem auto;
  list-style: none;
  overflow-y: scroll;
  max-height: 50vh;

  li {
    position: relative;
    display: grid;
    width: 80%;
    margin: 0.6rem;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
    -webkit-box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
    -moz-box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
    box-shadow: -2px 6px 15px -5px rgba(99, 99, 99, 1);
    box-sizing: border-box;
    background: #F7F8F8;
    background:
     linear-gradient(-195deg,var(--color--white) 80% ,var(--color--red--secundary));

    div {
      display: flex;
      justify-content: space-evenly;
      color: var(--color--red);
      width: 100%;
      height: 100%;
      margin: 0.3rem;
      font-size: 1.4rem;

      p {
        color: var(--color--gray);
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.7rem;
      }

    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0%;
      z-index: 1;
    }
  }
}


ul::-webkit-scrollbar {
  width: 1rem;
}

ul::-webkit-scrollbar:vertical {
  width: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--color--red);
  border-radius: 20px;
  border: 2px solid var(--color--white);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar:vertical {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color--red);
  border-radius: 20px;
  border: 2px solid transparent;
}

.total-label,
.total-value {
  display: none !important;
}

.item-labale,
.item-value {
  margin: 0.8rem !important;
  font-family: 'Quicksand', sans-serif !important;
}

.item-percent {
  margin: 0rem 0.1rem !important;
  text-align: right;
  font-family: 'Quicksand', sans-serif !important;
}

.legend-items {
  overflow: visible !important;
}

.item-color {
  height: 6rem !important;
}


.radio__activate {
  border: 0.15rem solid var(--color--green-success) !important;
  background:
  linear-gradient(-195deg,var(--color--white) 80% ,var(--color--green-success)) !important;


  div{
    color: var(--color--green-success) !important;
    font-weight: 500;
  }
}

/*This the change style of image's simbol*/
.radio__activate--icon {
  background-image: url("./assets/icon_success.svg") !important;
}

select,
input {
  &.is--valid {
    border-color: var(--color--green-success) !important;
  }

  &.is--invalid {
    border-color: var(--color--red--secundary) !important;
  }
}


@media(min-width:380px) {
  .content__list {
    display: flex;
    flex-wrap: wrap;

    li {
      max-width: 45%;
    }
  }
}

@media(min-width:600px) {
  .content__list {
    li {
      max-width: 30%;
    }
  }
}

@media (min-width: 1024px) {
  form {
    button {
      align-self: end;
      margin-bottom: 0.7rem;
    }
  }

  .content__list {
    li {
      max-width: 40%;
    }
  }
}
