*{
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

html{
  padding: 0;
  margin: 0;
}

h2{
  font-size: 2rem;
  font-weight: 700;
  line-height:2.2rem;
  color:#ff4081;
}

h3{
  font-size: 1.8rem;
  font-weight: 500;
  line-height:2rem;
  color: black;
}

form{
  width: 100%;
  .content__input{
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 80%;
    margin: 1.5rem;

    label{
      font-weight: 500;
      font-style: normal;
      line-height:1.8rem;
      font-size: 1.5rem;
      color: black;
    }

    input,
    select{
      height: 3.5rem;
      margin-top: 1rem;
      padding: 0.5rem 1.6rem;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 1.8rem;

      option {
        font-weight: 500;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }
  }
  button{
    margin: 1.5rem !important;
    width: 8rem;
    height: 4rem;
    background-color: #ff4081;
    color: aliceblue;
    font-size: 1.6rem;
    border:none;
  }
  button:hover{
    background-color: #ffffff;
    color:#ff4081;
    border: #ff4081 solid 0.1rem;
  }
}

table{
  max-width: 100%;
  margin-left: 1.5rem;
  .mdc-data-table__cell{
    font-family: 'Raleway', sans-serif !important;
  }
  button{
    margin: 1.5rem !important;
    width: 8rem;
    height: 4rem;
    background-color: #ff4081;
    color: aliceblue;
    font-size: 1.6rem;
    border:none;
  }
  button:hover{
    background-color: #ffffff;
    color:#ff4081;
    border: #ff4081 solid 0.1rem;
  }
}

ul{
  list-style: none;
  li{
    font-size: 1.5rem;
  }
}

