:root {
  --color--red: #d82b36;
  --color--red--secundary:#F47A82;
  --color--white: #ffffff;
  --color--black: #481b1b;
  --color--gray--background:#EBEBEB;
  --color--text--nav:#C9C9C9;
  --color--gray--background--list:#F7EDED;
  --color--gray:#636363;
  --rojo-color-alert: #ff7c7c;
  --color--green-success: #5fe39f;
  --amarillo-color-information: #faec5c;
}

@font-face {
  font-family: 'Thalib';
  src: url('./assets/fonts/Thalib\ Textured.ttf');
}

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
  background-color: var(--color--gray--background);
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

main {
  max-height: 100%;
  max-width: 100%;
}
/*this is the apps' containers' styles*/
.content__app{
  max-width: 100%;
  max-height: 100vh;
}
/*this is currency inputs style*/
#firstChoice{
  text-align: center;
}

input[type="date"]{
  text-align: center;
}
form {
  max-width: 100%;
  background-color: var(--color--white);
  border-radius: 10px;
  padding: 1rem;

  .content__input {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.25rem;
    margin:0.5rem;

    label {
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 400;
      letter-spacing: 0.05em;
      color: var(--color--gray);
    }

    input,
    select {
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 400;
      color: var(--color--gray);
      height: 3.6rem;
      padding: 1rem 1rem;
      border-radius: 5px;
      border: 0.1rem solid var(--color--gray);
      width: 100%;

      option {
        font-weight: 500;
        font-style: normal;
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }
  }
}

.button {
  width: 7.3rem;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--color--red);
  color: var(--color--white);
  border-radius: 5px;
  border: none;
}

.button:hover {
  background-color: #ffffff;
  color: var(--color--red);
  border: var(--color--red) solid 0.1rem;
}

.content__list--products{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100vh;
  margin: 0.5rem 1rem;
  list-style: none;
  overflow-y: scroll;

  li{
    position: relative;
    max-width: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-areas:
      "product product product"
      "date  date totalStock"
      "bill  bill totalStock "
      "value value totalvalue"
      "stock stock totalvalue";
    margin: 0.8rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--color--red);
    border-radius: 10px;
    background-color: var(--color--white);

    .content__date{
      grid-area:date;
    }
    .content__bill{
      grid-area:bill;
    }
    .content__stock{
      grid-area:stock;
    }
    .content__valueunit{
      grid-area:value;
    }
    .content__totalstock{
      grid-area:totalStock;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .content__totalvalue{
      grid-area:totalvalue;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }

    input{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity:0%;
    }

    h2 {
      grid-area: product;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.5rem;
      line-height: 18px;
      font-weight: 600;
      padding: 0.5rem;
      margin: 0;
      text-align: center;
      color: var(--color--gray);
      max-width: 80%;
    }

    div {
      display: flex;
      justify-content: flex-start;
      gap: 0.5rem;
      font-size: 1.4rem;
      color: var(--color--red--secundary);
      font-weight: 500;
      padding: 0.1rem;
      p {
        font-family: 'Quicksand';
        font-size: 1.4rem;
        font-weight: 500;
        color: #000000;
        max-width: 100%;
        vertical-align: middle;
        margin: 0;
      }
    }
  }
}

ul::-webkit-scrollbar{
  width: 1rem;
}
ul::-webkit-scrollbar:vertical {
  width:8px;
}
ul::-webkit-scrollbar-thumb {
  background-color: var(--color--red);
  border-radius: 20px;
  border: 2px solid var(--color--white);
}

body::-webkit-scrollbar{
  width: 1rem;
}
body::-webkit-scrollbar:vertical {
  width:5px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color--red);
  border-radius: 20px;
  border: 2px solid transparent;
}

.button__icon{
  position: absolute;
  top:0;
  right: 0;
  margin: 1rem 1rem 1rem 0;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('./assets/close_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent ;
  border: none;
}

.button__icon:hover{
  background-color: #faec5c;
}

.inputCurrency{
  div {
    display: flex;
    align-items: center;

    input {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      text-align: center;
    }
  }

  div::before {
    content: "$";
    position: relative;
    display: inline;
    margin-top: 1rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    vertical-align: middle;
  }
}

.inputStock{
  input {
    text-align: center !important;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
  }
}

@media (min-width: 1024px){
  form{
    button{
      align-self: end;
      margin-bottom: 0.7rem;
    }
  }

  .content__list--products{
    max-width: 90%;
    margin: 0 auto;
    li{
      grid-template-columns: repeat(7,1fr);
      grid-template-areas:
        "date bill product  stock totalStock value totalvalue";
      div{
        flex-direction: column;
        width: 100%;
      }
      h2{
        text-align: left;

      }
      .content__stock,
      .content__valueunit,
      .content__totalstock,
      .content__totalvalue{
        text-align: center;
      }
      div,
      h2{
        margin-top: 2rem;
      }
    }
    }
}
