<div class="content__movements">

  <div class="section__input">
    <div [class.activate]="stateButton==='year'" (change)="onChangeInput()">
      <label for="inputYear">Año</label>
      <input type="radio" name='time' [formControl]="intervalTime" value="year" id="inputYear"
        (change)="onGetYearMovements()">
    </div>
    <div [class.activate]="stateButton==='month'" (change)="onChangeInput()">
      <label for="inputMonth">Mes</label>
      <input type="radio" name='time' [formControl]="intervalTime" value="month" id="inputMonth"
        (change)="onGetYearMovements()">
    </div>
  </div>

  <div class="section__chart">
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
       [results]="dataMoevements"
       [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
  </div>

  <ul class="content__list">
    <li *ngFor="let item of movements"
       class="content__product--in"
      [class.content__product--out]="item.category===movement.category">

      <div class="description">
        <h2>{{item.description}}</h2>
      </div>

      <div
         *ngIf="item.category===movement.category; else elseBlock"
         class="arrow__in content__arrow">
        <p>Entrada
          <span> ← </span>
        </p>

      </div>

      <ng-template #elseBlock>
        <div
        class="arrow__out content__arrow">
          <p>Salida
            <span> → </span>
          </p>
        </div>
      </ng-template>


      <div class="date">
        Fecha <strong>:</strong>
        <p> {{item.date | date}}</p>
      </div>

      <div class="bill">
        Factura <strong>:</strong>
        <p> {{item.bill}}</p>
      </div>

      <div class="code">
        Código <strong>:</strong>
        <p> {{item.code}}</p>
      </div>

      <div class="stock--total">
        Inventario
        <p> {{item.totals_stock | number}}</p>
      </div>

      <div class="stock">
        Cantidad
        <p> {{item.stock | number}}</p>
      </div>

    </li>
  </ul>
</div>
