<div class="content__app">

  <form
   (ngSubmit)="submit($event)"
  [formGroup]="formCustomer">

    <div
      class="content__input
      names">
      <label
        for="names">
        Nombres y apellidos
      </label>
      <input
        type="text"
        formControlName="names"
        placeholder="Ingrese los nombres y apellidos del cliente"
        [class.is--valid]="inputNames?.valid && inputNames?.touched"
        [class.is--invalid]="inputNames?.invalid && inputNames?.touched">
       <p
       *ngIf="inputNames?.touched && inputNames?.hasError('required')"
       class="content__text--alert">
       *Campo obligatorio.
       </p>
    </div>

    <div
      class="content__input
      document--type">
      <label
        for="documentTypeInput">
        Tipo de documento
      </label>
      <select
        formControlName="document_type"
        [class.is--valid]="inputDocumentType?.valid && inputDocumentType?.touched"
        [class.is--invalid]="inputDocumentType?.invalid && inputDocumentType?.touched">
        <option
          value=""
          class="firstChoice"
          selected="true">
          Seleccione
        </option>
        <option
          *ngFor="let item of documentType"
          value="{{item.id}}">
          {{item.types}} - {{item.name}}
        </option>
      </select>
      <p
      *ngIf="inputDocumentType?.touched && inputDocumentType?.hasError('required')"
      class="content__text--alert">
      *Campo obligatorio.
      </p>
    </div>

    <div
      class="content__input
      document--number">
      <label
         for="documentNumber">
         Número de documento
      </label>
      <input
        type="number"
        formControlName="document_number"
        placeholder="Ingrese el número de documento"
        [class.is--valid]="inputDocumentNumber?.valid && inputDocumentNumber?.touched"
        [class.is--invalid]="inputDocumentNumber?.invalid && inputDocumentNumber?.touched">
      <p
        *ngIf="inputDocumentNumber?.touched && inputDocumentNumber?.hasError('required')"
        class="content__text--alert">
        *Campo obligatorio.
      </p>
    </div>

    <div
      class="content__input
      residence--address">
      <label
        for="residenceAddress">
        Dirección de residencia
      </label>
      <input
        type="text"
        formControlName="residence_address"
        placeholder="Ingrese la dirección de residencia"
        [class.is--valid]="residenceAddress?.valid && residenceAddress?.touched"
        [class.is--invalid]="residenceAddress?.invalid && residenceAddress?.touched">
      <p
        *ngIf="residenceAddress?.touched && residenceAddress?.hasError('required')"
        class="content__text--alert">
        *Campo obligatorio.
      </p>
    </div>

    <div
      class="content__input
      celphone">
      <label
        for="telephoneCel">
        Teléfono celular
      </label>
      <input
        type="number"
        id="telephoneCel"
        formControlName="telephone_cel"
        placeholder="Ingrese el teléfono celular"
        [class.is--valid]="celphone?.valid && celphone?.touched"
        [class.is--invalid]="celphone?.invalid && celphone?.touched">
      <p
        *ngIf="celphone?.touched && celphone?.hasError('required')"
        class="content__text--alert">
        *Campo obligatorio.
      </p>
    </div>

    <div
      class="content__input
      telephone">
      <label
        for="telephoneNumber">
        Teléfono fijo
      </label>
      <input
        type="number"
        id="telephoneNumber"
        formControlName="telephone_number"
        placeholder="Ingrese el teléfono fijo"
        [class.is--valid]="telephone?.valid && telephone?.touched"
        [class.is--invalid]="telephone?.invalid && telephone?.touched">
        <p
        *ngIf="telephone?.touched && telephone?.hasError('required')"
        class="content__text--alert">
        *Campo obligatorio.
      </p>
    </div>

    <div
      class="content__input
      email--address">
      <label
        for="emailAddrress">
          Correo electrónico
        </label>
      <input
        type="email"
        formControlName="email_address"
        placeholder="Ingrese el correo electrónico"
        [class.is--valid]="emailAddress?.valid && emailAddress?.touched"
        [class.is--invalid]="emailAddress?.invalid && emailAddress?.touched">
      <p
        *ngIf="emailAddress?.touched && emailAddress?.hasError('required')"
        class="content__text--alert">
        *Campo obligatorio.
      </p>
      <p
      *ngIf="emailAddress?.touched && emailAddress?.hasError('email')"
      class="content__text--alert">
      *Debe agregar una dirección de correo electrónico válida.
      </p>
    </div>

    <div class="content__button">
      <button
        class="button"
        [disabled]="!formCustomer.valid"
        [class.is__invalid]="!formCustomer.valid">
        Ingresar
      </button>

      <button
        (click)="updateCustomer()"
        class="button"
        [disabled]="!formCustomer.valid"
        [class.is__invalid]="!formCustomer.valid">
        Modificar
      </button>
    </div>

  </form>

  <div
    class="content__input--find">
    <label for="">Buscar producto</label>
    <input
      type="search"
       [formControl]="valueFind"
      (input) ="onChangeText()"
      placeholder="Busca el cliente aquí">
      <img
        src="../../../assets/lupa.svg"
        alt="this is the find icon">
  </div>

  <ul
    class="content__list"
    *ngIf="listFilter.length; else elseBlock">
    <li
      [class.radio__activate]="customerId===item.id"
      *ngFor="let item of customers | filter:itemFind">
      <input
        type="radio"
        value="item.id"
        (click)="toggleUpdate(item)">

      <div
        class="names">
        <h2
          class="contentent__description--text">
          {{item.names | titlecase}}
        </h2>
      </div>

      <div class="document">
        <p>
            {{item.document_type.types | uppercase}}
            {{item.document_number | number}}
        </p>
      </div>

      <div class="email--address">
        <p>
          {{item.email_address | lowercase}}
        </p>
      </div>

      <div class="celphone">
        Celular:
        <p>
           {{item.telephone_cel | telephone}}
        </p>
      </div>

      <div class="telephone">
        Fijo:
        <p>
           {{item.telephone_number | telephone}}
        </p>
      </div>

      <div class="residence--address">
        <p>
          {{item.residence_address | titlecase}}
        </p>
      </div>

      <button
       class="button__icon"
       (click)="toggleDelete(item)"
       [class.radio__activate--icon]="customerId===item.id">
      </button>
    </li>
  </ul>

  <ng-template #elseBlock>
    <div class="content__notfound">
      <img
       src="../../../assets/alert.svg"
       alt="this is the image alert">
      <p
      class="content__text--notfound">
        No se encuentra ningún producto
      </p>
    </div>
  </ng-template>

</div>
