.content__app{
  display: flex;
  justify-content: center;

  form{
    width: 80vw;
    height: 90vh;
    padding: 25px 15px;

    .content__image{
      display: flex;
      flex-direction: column;
      width: 100%;

      .icon__company{
        background-image: url('../../../assets/icon_color.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        height: 120px;
        margin: 0 auto;
      }

      .icon__lock{
        background-image: url('../../../assets/reset_password_icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 136px;
        height: 114px;
        margin: 0 auto;

      }
    }

    h1{
      font-size: 2.5rem;
      line-height: 30px;
      letter-spacing: 5%;
      font-family: 'Thalib';
      color: var(--color--red);
      margin: 0;
      text-align: center;
    }

    .text{
      font-size: 1.3rem;
      line-height: 15px;
      color: var(--colo--gray);
      margin: 2px 0;
    }

    input,
    button{
      width: 100%;
    }

    button{
      margin-top: 5px;
    }

  }
}
