<div class="content__app">

  <form
    [formGroup]="formEmailReset"
    (ngSubmit)="submit($event)">

    <div
      class="content__image">
      <div
        class="icon__company">
      </div>
      <div
        class="icon__lock">
      </div>
    </div>
    <h1>
      Ha olvidado su contraseña
    </h1>
    <p
      class="text">
      Ingrese el correo electrónico con el que se registró
    </p>
    <p
      class="text">
       Le llegará un correo donde podrá ingresar la nueva contraseña
    </p>
    <div>
      <div
        class="content__input">
        <input
          type="text"
          [class.is--valid]="email?.valid && email?.touched"
          [class.is--invalid]="email?.invalid && email?.touched"
          formControlName="email"
          placeholder="Ingreser su correo electrónico">
          <p
            class="content__text--alert"
            *ngIf=" email?.touched && email?.hasError('required')">
            El campo de contraseña no debería estar vacío.
          </p>
          <p
            class="content__text--alert"
            *ngIf=" email?.touched && email?.hasError('email')">
            Debería agregar un correo electrónico.
          </p>
      </div>

    </div>
    <button
      [class.is__invalid]="this.formEmailReset.invalid"
      [disabled]="this.formEmailReset.invalid"
      class="button">
      Ingresar
    </button>

  </form>

</div>
